.connection-card, .wait-card {
    text-align: center;
    margin: 10% auto;
}

.connection-card.mdl-card {
    width: 320px;
    height: 220px;

}

.mini-card {
    height: 160px;
    min-height: 140px;
}

.connection-card > .mdl-card__title {
    color: #fff;
    background-color: #3E4EB8;
}

.wait-card.mdl-card {
    max-width: 600px;
    color: #fff;
    background: #3E4EB8;
}

.wait-card > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.wait-card > .mdl-card__title {
  align-items: flex-start;
}

.wait-card > .mdl-card__title > h4 {
  margin-top: 0;
}

.wait-card > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.wait-card > .mdl-card__title,
.wait-card > .mdl-card__actions,
.wait-card > .mdl-card__actions > .mdl-button {
  color: #fff;
}
.mdl-progress-haute > .mdl-progress {
    height: 30px;
}

.good_card{
    background: #3f51b5;
}

.links{
    border-top : 9px solid #3f51b5;
}
.victory{
    background : #3f51b5;
    color: rgb(255, 255, 255);
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.valign-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* display: flex; */
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
