<!doctype html>
<html ng-app="quizzApp">

  <head>
    <title>Events</title>

    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
     <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">-->
    <link rel="stylesheet" href="/css/quizz.css">
  </head>

  <body ng-controller="quizzController">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
          
    <script src="/js/quizz.js"></script>

    <div>
      <h2 class="mdl-card__title-text">Test événements</h2>

      <ul>
        <li ng-repeat="event in events">{{event.name}} : {{event.data}}</li>
      </ul>
      
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="connect()">Connect</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="disconnect()">Disconnect</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="answer()">Answer</button>
    </div>

  </body>
</html>

